*{
    padding: 0;
    margin: 0;
}


.con-1{
    display: flex;
    margin-top: 56px;
    padding-bottom: 5px;
    border-bottom: 2px solid blue;
}
.date{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.con-1 .div2{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.card-1{
    margin-top: 20px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    overflow: scroll;
}

.total-viewer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}





.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 80px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


@media (max-width: 400px) {
    .con-1{
        flex-direction: column;
    }
    .animate-charcter{
        font-size: 20px;
    }

}